<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  </head>
  <body>
    <p><%= JSON.stringify(name) %></p>
  </body>
  </body>
</html>
